@font-face {
    font-family: "Neue Bit";
    src: url("../../fonts/Bitmap Font Pack/PPNeueBit-Bold.otf") format("opentype");
    font-weight: normal;
}
@font-face {
    font-family: "Neue Montreal";
    src: url("../../fonts/neuemontzreal/NeueMontreal-Medium.otf") format("opentype");
    font-weight: normal;
}

body{
    font-family: "Neue Montreal";
    font-size: 20px;
}

.intro{
    font-family: "Neue Bit";
    margin-bottom: 0.8em;
    font-size: 100px;
    color: #0800FF;
    line-height: 60px;
}

.project-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 17%;
    margin-right: 17%;
}

.main-tite{
    font-weight: bold;
}

img{
    height: 500px;
    width: 500px;
    margin-bottom: 5%;
}

.project-link{
    color: #0800FF;
}
.project-link:hover{
    color: #ffffff;
}