/*customization*/



#intro{
	padding-bottom: 20% !important;
}

.date{
 	display: none !important;
}
/*#contact-me{*/
/*	text-align: center;*/
/*}*/
/*#footer {*/
/*	padding-top: 0px;*/
/*	padding-bottom: 0px;*/
/*}*/

/*.contact-section{*/
/*	padding: 1.5%;*/
/*}*/

.icons.alt{
	text-align: left;
}
#copyright{
	height: 1em;
	color: #717981 !important;
	margin-top: 1em !important;
	margin-bottom: 0 !important;
}

article img{
	width: 450px;
	height: 500px;
}
