/*customization*/

/*#main{*/
/*	padding-top: 2% !important;*/
/*}*/
/*#content{*/
/*	width: 90% !important;*/
/*	justify-content: center !important;*/
/*	margin: auto !important;*/
/*}*/
.posts{
	justify-content: center;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.posts article{
	padding-top: 4% !important;
	padding-bottom: 0 !important;
}
#intro{
	padding-bottom: 20% !important;
}

.date{
 	display: none !important;
}

.icons.alt{
	text-align: left;
}


#footer{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.split.contact section{
	padding-top: 3% !important;
	padding-bottom: 3% !important;
}
#copyright{
	height: 1em;
	color: #717981 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 2% !important;
}

