/*customization*/

#content{
	width: 90% !important;
	justify-content: center !important;
	margin: auto !important;
}
.posts{
	justify-content: center;
}
.posts article{
	padding-top: 2% !important;
	padding-bottom: 0 !important;
}
#intro{
	padding-bottom: 20% !important;
}

.date{
 	display: none !important;
}

.icons.alt{
	text-align: left;
}
#copyright{
	height: 1em;
	color: #717981 !important;
	margin-top: 1em !important;
	margin-bottom: 0 !important;
}

