@font-face {
    font-family: "Neue Bit";
    src: url("../fonts/Bitmap Font Pack/PPNeueBit-Bold.otf") format("opentype");
    font-weight: normal;
}
@font-face {
    font-family: "Neue Montreal";
    src: url("../fonts/neuemontzreal/NeueMontreal-Medium.otf") format("opentype");
    font-weight: normal;
}
@keyframes change-color {
    50% {color: white}
    100% {color: black}
}

.intro {
    top: 50%;
    left: 50%;
    margin-left: 8%;
    margin-top: 5.5%;
}

body{
    font-family: "Neue Montreal";
    background-color: #dbdbdb;
    font-size: 20px;
}

nav{
    position: absolute;
    background-color: #0800FF;
    height: 3%;
    min-width: 1900px;
}

.links{
    margin: auto;
}

#home{
    color: white;
}

a.nav-link{
    color: #ffffff;
    font-size: 20px;
    margin-left: 6em;
    margin-right: 6em;
}

.home{
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin: auto;
}

.home:hover, a.nav-link:hover{
    color: #c2c1c1;
}

button{
    border: 0px;
    background-color: transparent;
}
button:hover{
    transform: scale(1.02);
    filter: brightness(95%);
}
button:active {
  transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

#contact {
    width: 500px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 10px;
}
#touch{
    font-family: "Neue Bit";
    font-size: 50px;
    margin-bottom: 0;
}
.contact{
    color: #0800FF;
    font-size: 17px;
    margin: 2%;
}
.private{
    padding: 1%;
}
.contact:hover{
    color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.btn{
    position: relative;
    bottom: 2.75em;
    left: 90%;
    color: #dbdbdb;
    background-color: #0800FF;
    width: 60px;
    height: 60px;
    font-size: 30px;
}
.btn:hover{
    color: #0800FF;
    background-color: #ababab;
}
#top-arrow, #top-arrow:visited, #top-arrow:active{
    color: inherit;
    text-decoration: none;
}