.intro{
    font-family: "Neue Bit";
    margin-bottom: 10px;
    font-size: 100px;
    color: #0800FF;
    line-height: 60px;
}

.project-container {
    width: 1200px;
    display: grid;
    place-items: center;
    grid-template-columns: 50% 50%;
    margin: 5% 19% 0 19%;
}

.main-tite{
    font-weight: bold;
}

img{
    height: 500px;
    width: 500px;
    margin-bottom: 5%;
}

.temp-container{
    display: inline-block;
    background-color: whitesmoke;
    height: 500px;
    width: 500px;
    margin-bottom: 5%;

}
.temp{
    padding-top: 40%;
}

.project-link{
    color: #0800FF;
}
.project-link:hover{
    color: #ffffff;
}