.intro{
    font-family: "Neue Bit";
    margin-bottom: 0.8em;
    font-size: 100px;
    color: #0800FF;
    line-height: 60px;
}

.project-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5% 17% 0 17%;
}

.main-tite{
    font-weight: bold;
}

img{
    height: 500px;
    width: 500px;
    margin-bottom: 5%;
}

.project-link{
    color: #0800FF;
}
.project-link:hover{
    color: #ffffff;
}